@model IEnumerable<dynamic>

<h1>Clients grouped by City Name</h1>

<table class="table">

    @foreach (dynamic item in Model)
    {
    <tr>
        <td>
            <a>@item.CityName</a>
        </td>
        <td>
            <a>@item.Count</a>
        </td>
    </tr>
    }
</table>
